@{
    ViewData["Title"] = "Piedra, papel o tijera - Explicación";
}

<div class="text-center">
    <h2 class="display-4">¡Piedra, papel o tijera!</h2>
    <p>¡Piedra, papel, o...! Ah, estas son las reglas.</p>
</div>
<h4>Reglas:</h4>
<!-- REGLAS -->
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Cantidad de jugadores</div>
      Por el momento se juega de forma individual. La función de multijugador se encuentra en desarrollo.
    </div>
    <span class="badge text-bg-primary rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">¿Qué tengo que hacer?</div>
      Elegir qué jugada realizar: piedra, papel o tijera. ¡La piedra vence a las tijeras, las tijeras al papel, y el papel a la piedra! 
    </div>
    <span class="badge text-bg-primary rounded-pill">2</span>
  </li>
</ol>
<!-- REGLAS -->
<div class="text-center botonesjuego">
    <a href="piedrapapeltijera" class="btn btn-primary">Jugar</a>
<div>