@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MINIJUEGOS</h1>
    <p>¿Estás aburrido y no sabés qué hacer? ¡Acá tenés juegos cortos para divertirte!
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <img src="/images/Piedra, papel o tijera.jpg" class="card-img-top" alt="Piedra, papel o tijera">
                    <div class="card-body">
                        <h5 class="card-title">Piedra, papel o tijera</h5>
                        <p class="card-text">¡El clásico! Podés jugarlo solo o con amigos.</p>
                        <a href="#" class="btn btn-primary">Jugar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Plaza de mayo.jpg" class="card-img-top" alt="MAMEIG">
                    <div class="card-body">
                        <h5 class="card-title">¿El número es...?</h5>
                            <p class="card-text">¿Es mayor? ¿Es menor? ¿Es igual? ¡Comprobalo en este maravilloso juego de azar, cuyo ganador podría considerarse el rey de la suerte!</p>
                        <a href="#" class="btn btn-primary">Jugar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Ahorcado.png" class="card-img-top" alt="Ahorcado">
                    <div class="card-body">
                        <h5 class="card-title">Ahorcado</h5>
                        <p class="card-text">¡Cuidado! Adiviná la palabra en la que estamos pensando, pero, ¡sé prudente! No querrías ser ahorcado...</p>
                        <a href="#" class="btn btn-primary">Jugar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <img src="/images/El rosco.gif" class="card-img-top" alt="El rosco">
                    <div class="card-body">
                        <h5 class="card-title">El rosco</h5>
                        <p class="card-text">¿Cuántas palabras conocés? ¡Comprobalo en este desafiante juego!</p>
                        <a href="#" class="btn btn-primary">Jugar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Piedra, papel o tijera.jpg" class="card-img-top" alt="Piedra, papel o tijera">
                    <div class="card-body">
                        <h5 class="card-title">Piedra, papel o tijera</h5>
                        <p class="card-text">¡El clásico! Podés jugarlo solo o con amigos.</p>
                        <a href="#" class="btn btn-primary">Jugar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Piedra, papel o tijera.jpg" class="card-img-top" alt="Piedra, papel o tijera">
                    <div class="card-body">
                        <h5 class="card-title">Piedra, papel o tijera</h5>
                        <p class="card-text">¡El clásico! Podés jugarlo solo o con amigos.</p>
                        <a href="#" class="btn btn-primary">Jugar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5>En estos lugares han tenido lugar muchos sucesos sumamente importantes, por lo que es de suma importancia conocerlos.</h5>
</div>

