@{
    ViewData["Title"] = "¿El número es...?";
}

<div class="text-center">
    <h2 class="display-4">¿El número es...?</h2>
    <p>¡A jugar!</p>
    <h3>¿El número es mayor, menor o igual?</h3>
    
</div>