@{
    ViewData["Title"] = "Elegí el nivel";
}
<div class="text-center">
    <h2 class="display-4">Elegí la dificultad</h2>
    <p>¡Elegí la dificultad en la cual querés jugar!</p>
</div>
<div class="form">
    <form class="elegirnivel" action='@Url.Action("GuardarNivel", "Home")'>
        <input type="hidden" name="nivel" value="1">
        <input type="submit" value="Fácil" class="btn btn-info"></input>
    </form>
    <form class="elegirnivel" action='@Url.Action("GuardarNivel", "Home")'>
        <input type="hidden" name="nivel" value="2">
        <input type="submit" value="Medio" class="btn btn-warning"></input>
    </form>
    <form class="elegirnivel" action='@Url.Action("GuardarNivel", "Home")'>
        <input type="hidden" name="nivel" value="3">
        <input type="submit" value="Difícil" class="btn btn-danger"></input>
    </form>
</div>