@{
    ViewData["Title"] = "Sobre nosotros";
}
<h1>@ViewData["Sobre nosotros"]</h1>
<div class="text-center">
    <h1>SOBRE NOSOTROS</h1>
    <h5>En esta sección te contamos un poco sobre quiénes somos y nuestra trayectoria</h5>
</div>
<section class="sobrenosotros">
    <div class="card" style="width: 30rem;">
        <img src="/images/Martin.png" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Martín Zilbersztein es el fundador y líder de JuegaXpress Innovations, una empresa
                destacada
                en el desarrollo de software. Desde sus inicios, Martín ha mostrado una pasión inigualable por la
                programación, lo que le ha llevado a crear soluciones innovadoras y exitosas en la industria. Su enfoque
                en
                la calidad y la creatividad ha sido clave en el éxito continuo de su empresa.</p>
        </div>
    </div>
</section>
