html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
  width: 49%;
  margin-left: 27%;
}

h4 {
  font-size: medium;
  width: 40%;
  margin-left: 30%;
}

.col {
  border: 1px solid red;
}

.card-img-top {
  margin-top: 1%;
  margin-left: 7%;
  width: 90%;
}

.separador {
  margin-top: 2%;
}

.imgajustada {
  width: 70%;
  margin-left: 17%;
}

h4 {
  font-size: 200%;
  margin-left: 25%;
}

.list-group {
  width: 60%;
  margin-left: 25%;
}

.botonesjuego {
  margin-top: 1%;
}

.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 8%;
  margin-left: 5%;
}

.form .btn {
  font-size: 250%;
  padding: 10px 20px;
}

.textojugar {
  margin-left: 26%;
  text-align: center;
}

.numero {
  margin-left: 30.5%;
  font-size: 500%;
}

h5 {
  margin-left: 3%;
}
.reglas{
  margin-left:25.5%;
}

.formsmameig {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.mameig .btn {
  float: left;
  font-size: 200%;
  margin-top: 15%;
}

.alert {
  width: 8%;
  height: 5%;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-danger {
  margin-top: 2%;
  margin-left: 2%;
}

.titulojugada {
  margin-left: 31%;
}

.piedrapapeltijeracont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.piedrapapeltijera {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.piedrapapeltijera .elemento {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.jugadasprevias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}

.jugadasprevias .alert-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* Ancho fijo */
  height: 200px;
  /* Alto fijo ajustado para más espacio */
  margin: 10px;
  text-align: center;
}

.jugadasprevias .alert-warning .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jugadasprevias .alert-warning p {
  margin: 0;
  flex-shrink: 0;
}

.jugadasprevias .alert-warning .jugadasanteriores {
  max-width: 60%;
  max-height: 80%;
  flex-shrink: 0;
  margin-top:8%;
}
.corazones{
 margin-left:8%; 
 font-size:150%;
}
.corazones p{
margin-left:0%;
}
span{
  font-size:300%;
}
.imagenahorcado{
  clear:left;
}
form .mb-3 label{
  margin-top:2%;
  clear:left;
}
form .mb-3 .form-control{
  width:10%;
  margin-left:45%;
}
form .mb-3 .btn-primary{
  margin-top:0.4%;
}
.mensajeerrorsopa{
  margin-left:26%;
}
  
