html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
p{
  width:49%;
  margin-left:27%;
}
h4{
  font-size:medium;
  width:40%;
  margin-left:30%;
}
.col{
  border:1px solid red;
}
.card-img-top{
  margin-top:1%;
  margin-left:7%;
  width:90%;
}
.separador{
  margin-top:2%;
}